<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Library</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/stylesheets/styles.css" rel="stylesheet">
  </head>
  <style>
    .file {
  visibility: hidden;
  position: absolute;
}
  
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
       
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="email"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color:red;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>
  </style>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <nav class="collapse navbar-collapse text-right" role="navigation">
      <ul class="nav navbar-nav" style="text-align: right;">
        
        
        <li >
          <a href="/">Already a user? Login</a>
        </li>
        
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Create account
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <h2 style="text-align: center;">SignUp Form</h2><br>
          <div class="login-form container" style="width: 50%;">
            
			<form action="/signup" method="POST" onsubmit="return validate() && pswd() && matchPassword()"  >
        <input type="email" name="email" placeholder="Username" id="email" required onchange="return validate()">
        <label for="" id="erroremail" style="color: red; font-size: x-small;"></label>
        <input type="password" name="password" placeholder="Password" id="password" required  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        <label id="text" style="color: red; font-size: x-small;"></label>
				<input type="password" name="confirmpassword" placeholder="Re enter Password" id="confirmpassword" required onchange="return matchPassword()">
        <label for="" id="errorconfirm" style="color: red; font-size: x-small;"></label>
				<input type="submit" value="Register" class="btn btn-primary">
				<!-- 	<a href="/"><button type="button" class="btn btn-primary">Logout</button></a> -->
			
			</form>
      
          </div>
  </div>                                                                    
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div> -->

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>

  <script src="/js/bootstrap.min.js"></script>
    <script type= text/javascript>
      let email = document.getElementById("email");
      let erroremail = document.getElementById("erroremail");


function validate(){
    let regval=/^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+).([a-z0-9]{2,3})(.[a-z]{2,3})?$/;
    // let regval=/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;

    if(regval.test(email.value)){
        erroremail.innerHTML="";
        return true;
    }else if(email.value==""){
        erroremail.innerHTML="Cannot be empty!!!";
        erroremail.style.color="red";
        return false;
    }
    else{
        erroremail.innerHTML="Email format should be 'abc@gmail.com'";
        erroremail.style.color="red";
        return false;
    }
}
    </script>
    <script type="text/javascript">
    
var password = document.getElementById('password');
var meter = document.getElementById('password-strength-meter');
var text = document.getElementById('password-strength-text');
var tex = document.getElementById('text');
tex.innerHTML="";
function pswd(){
    var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
    var mediumRegex = new RegExp("^(?=.{6,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
    if(strongRegex.test(password.value)){
        tex.innerHTML="";
        return true;
    }else if(password.value==""){
        tex.innerHTML="";
        return false;
    }
    else{
        tex.innerHTML="Password should meet requirements";
        return false;
    }
}
    </script>
    <script type="text/javascript">  
      function matchPassword() {  
        var password = document.getElementById("password");  
        var confirmpassword = document.getElementById("confirmpassword");  
        var errorconfirm = document.getElementById("errorconfirm");  
        if(password.value == confirmpassword.value)  
        {   
          errorconfirm.innerHTML=" ";  
          return true;
        } else {  
          errorconfirm.innerHTML="passwords did not match ";
          return false;
        }  
      }  
      </script>  
	
</html>
    </body>